<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxr.hz.dao.StudentDao">
    <select id="findAll" resultType="Student">
        select * from student
    </select>
    <select id="findById" resultType="Student" parameterType="Integer">
        select * from student where id=#{id}
    </select>
    <select id="findByName" resultType="Student" parameterType="String">
        select * from student where name like #{name}
    </select>
    <insert id="insert" parameterType="Student">
        insert into student values(null,#{coach},#{image},#{name},#{gender},#{birthday},#{telephone},#{pname},#{phone},#{relation},#{level},#{state},#{indate},#{outdate},#{num},#{rid},#{delaytime},#{handler},#{info},#{type},#{cardtype},#{way},#{idnum},#{xufei})
    </insert>
    <delete id="delete" parameterType="Integer">
        delete from student where id=#{id}
    </delete>
    <update id="update" parameterType="Student">
        update student set coach=#{coach},image=#{image},name=#{name},gender=#{gender},birthday=#{birthday},telephone=#{telephone},pname=#{pname},relation=#{relation},level=#{level},state=#{state},indate=#{indate},outdate=#{outdate},num=#{num},rid=#{rid},delaytime=#{delaytime},handler=#{handler},info=#{info},type=#{type},cardtype=#{cardtype},way=#{way},idnum=#{idnum},xufei=#{xufei} where id=#{id}
    </update>
    <select id="findByRid" resultType="Student" parameterType="Integer">
        select * from student where rid=#{rid}
    </select>
</mapper>
