/* 改变主题色变量 */
$--color-primary: #f54e40;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "./spinner/dots.css";
@import "./spinner/gauge.css";
@import "./spinner/inner-circles.css";
@import "./spinner/plus.css";

body {
    margin: 0;
}

.el-table thead {
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    color: #333;
    border-top: 1px solid red;
}

.el-table__header-wrapper {
    border-top: 1px solid #ebeef5;
}