/* 改变主题色变量 */
$--color-primary: #f54e40;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

body {
    margin: 0;
}

.el-table thead{
    font-size: large;
    font-weight: 800;
    font-family: Microsoft YaHei;
}